* {
    box-sizing: border-box;
}

:root {
    --primary-color-text: #000958;
    --button-color: #ff5b2e;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1169px;
    width: calc(100% - 48px);
}

.section-heading {
    color: var(--primary-color-text);
    font-family: "Sora", sans-serif;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
}
.section-desc {
    color: #656689;
    font-weight: 400;
    line-height: 1.89;
}

.btn {
    display: inline-block;
    padding: 19px 12px;
    border-radius: 31px;
    border: 1px solid #ff5b2e;
    text-align: center;
    font-size: 16px;
    color: var(--button-color);
    transition: color 0.25s, background-color 0.25s, text-shadow 0.25s,
        box-shadow 0.25s;
}

.btn:hover {
    color: #fff;
    text-shadow: -1px 0 0 #fff;
    background: var(--button-color);
    border-color: transparent;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    cursor: pointer;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}

/* ------------- Header + navbar ------------- */
.header {
    position: sticky;
    top: -21px;
    z-index: 99;
    padding: 26px 0 5px;
    background: #fffaf5;
}

.header__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__navigation {
    display: flex;
}

.header__link {
    padding: 8px 18px;
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.header__link:hover,
.header__link--active {
    color: var(--primary-color-text);
    text-shadow: -1px 0 0 var(--primary-color-text);
}

.header__btn {
    display: inline-block;
    padding: 16px 12px;
    min-width: 117px;
    border-radius: 25px;
    border: 1px solid var(--primary-color-text);
    box-shadow: none;
    text-align: center;
    font-size: 16px;
    color: var(--primary-color-text);
    transition: color 0.25s, background-color 0.25s;
}

.header__btn:hover {
    background: var(--primary-color-text);
    color: #fff;
}

/* ------------- Hero ------------- */
.hero {
    display: flex;
    align-items: center;
    height: calc(100vh - 81px);
    background: #fffaf5;
}

.hero__content {
    display: flex;
    justify-content: space-between;
}

/* Hero media */
.hero__media {
    position: relative;
    width: 50%;
    display: flex;
}

.hero__photo {
    width: 388px;
    height: 488px;
    border-radius: 16px;
    border: 3px solid #fff;
    background: #fe997b;
    z-index: 1;
}

.hero__img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
}

.hero__photo--small {
    margin: 302px 0 0 -23px;
    width: 186px;
    height: 244px;
    border: 2px solid #fcdddf;
    background: #faa7ad;
}

.hero__img--small {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Hero stats */
.hero__stats {
    position: absolute;
    top: 426px;
    left: 129px;
    z-index: 1;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero__stats-inner {
    padding: 18px 14px;
}

.hero__stats-item {
    display: flex;
    column-gap: 9px;
}

.hero__stats-line::before {
    content: "";
    margin: 20px 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #f2f2f2;
    border-radius: 2px;
}

.hero__stats-avt {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #fec23f;
}

.hero__stats-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.hero__stats-heading {
    color: #181e52;
    font-family: "Sora", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero__stats-health {
    margin-top: 7px;
    display: block;
}

/* Hero Deco */
.hero__deco {
    position: absolute;
}

.hero__deco-left {
    top: 248px;
    left: -58px;
}

.hero__deco-right {
    top: 17px;
    left: 377px;
}

/* Hero text */
.hero__heading {
    max-width: 517px;
    color: var(--primary-color-text);
    font-family: "Sora", sans-serif;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
}

.hero__desc {
    margin-top: 24px;
    max-width: 391px;
}

.hero__cta {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__cta-btn {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    min-width: 189px;
    background: transparent;
    line-height: 1;
    transition: visibility 0.25s;
}

.hero__cta-btn:hover .hero__cta-chevron {
    display: inline-block;
    visibility: visible;
}

.hero__cta-link {
    margin-left: 24px;
    color: var(--primary-color-text);
    text-decoration-line: underline;
}

.hero__cta-chevron {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    display: none;
    visibility: hidden;
}

/* ------------- About ------------- */
.about {
    padding: 53px 0;
    background: #fffaf5;
}

.about__inner {
    display: flex;
    justify-content: space-between;
}

/* About tetx */
.about__text {
    margin-top: auto;
    margin-bottom: auto;
}

.about__sub-heading {
    color: #5e6085;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    line-height: 1.6;
}

.about__heading {
    margin-top: 15px;
    max-width: 446px;
}

.about__desc {
    margin-top: 24px;
    max-width: 431px;
}

/* About Form */
.about__form {
    margin-top: 54px;
}

.about__form-row {
    display: flex;
    column-gap: 36px;
}

.about__form-row ~ .about__form-row {
    margin-top: 34px;
}

.about__form-item {
    width: 230px;
}

.about__form-item [type="checkbox"]:checked + .about__form-label::before {
    border-color: transparent;
    background: var(--button-color);
}

.about__form-item [type="checkbox"]:checked + .about__form-label::after {
    display: inline-block;
}

.about__form-label {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #48496a;
    font-size: 1.8rem;
    line-height: 1;
}

.about__form-label::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 3px solid #48496a;
    border-radius: 4px;
}

.about__form-label::after {
    content: url(../img/checked.svg);
    display: none;
    position: absolute;
    top: 2px;
    left: 5px;
}

/* About media */
.about__media {
    position: relative;
}

.about__photo {
    width: 494px;
    height: 559px;
    border-radius: 16px;
}

.about__photo::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    translate: 0 -100%;
}

.about__img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__stats {
    position: absolute;
    top: 165px;
    left: -92px;
    width: 136px;
    height: 156px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about__stats-inner {
    padding: 30px 26px;
}

.about__stats-value {
    color: #fff;
    font-size: 4.2rem;
    font-family: "Sora", sans-serif;
    font-weight: 700;
    line-height: 1;
}

.about__stats-desc {
    display: inline-block;
    margin-top: 14px;
    color: #c6f4f9;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.43;
}

/* About Deco */
.about__deco {
    position: absolute;
}

.about__deco-right {
    top: 157px;
    left: 411px;
}

.about__deco-left {
    top: 142px;
    left: 12px;
}

/* ------------- Feature ------------- */
.feature {
    padding: 93px 0 185px;
    background: #fffaf5;
}

.feature__inner {
    display: flex;
}

/* Feature media */
.feature__media {
    position: relative;
}

.feature__photo {
    max-width: 458px;
    height: 500px;
    background: linear-gradient(
        180deg,
        rgba(204, 231, 255, 1) 0%,
        rgba(162, 211, 255, 1) 50%,
        rgba(142, 187, 230, 1) 100%
    );
    border-radius: 18px;
}
.feature__img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    object-fit: cover;
}

/* Feature Deco */
.feature__deco {
    position: absolute;
}

.feature__deco-01 {
    top: 435px;
    left: 377px;
}

.feature__deco-02 {
    top: 268px;
    left: 468px;
}

.feature__deco-03 {
    top: 336px;
    left: 427px;
}

.feature__deco-04 {
    top: 33px;
    left: 426px;
}

.feature__deco-05 {
    top: -16px;
    left: 426px;
}

.feature__deco-06 {
    top: 13px;
    left: 389px;
}

/* Feature text */
.feature__text {
    margin: auto 0 0 127px;
}

.feature__heading {
    max-width: 543px;
}

.feature__desc {
    margin-top: 24px;
    max-width: 511px;
}

.feature__row {
    margin-top: 24px;
    display: flex;
    align-items: center;
    column-gap: 56px;
}

.feature__item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.feature__item-icon {
    width: 20px;
    height: 20px;
}

.feature__item--active::after {
    content: "";
    position: absolute;
    top: 34px;
    left: 0;
    width: 95px;
    height: 2px;
    background: #ff5b2e;
}

.feature__line {
    margin-top: 14px;
    max-width: 557px;
    height: 2px;
    background: #ffeee7;
    border-radius: 2px;
}

.feature__item-name {
    color: #48496a;
    font-family: "Sora", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.feature__sub-desc {
    margin-top: 36px;
    max-width: 391px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7;
}

.feature__link {
    display: inline-block;
    margin-top: 32px;
    text-decoration: underline;
    color: #ff5d31;
    line-height: 1;
}

/* ------------- Services ------------- */
.services {
    padding: 68px 0 100px;
    background: #fff6ed;
}

.services__desc {
    color: #5e6085;
    text-align: center;
    font-family: Sora, sans-serif;
    font-weight: 600;
    line-height: 1;
}

.services__heading {
    margin-top: 15px;
    text-align: center;
}

/* Services Body */
.services__body {
    margin-top: 71px;
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.services-item {
    max-width: 294px;
    height: 208px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}

.services-item ~ .services-item {
    margin-top: 24px;
}

.services-item__content {
    padding: 30px 22px 30px 28px;
}

.services-item__heading {
    display: flex;
    align-items: center;
    column-gap: 12px;
    color: var(--primary-color-text);
    font-family: Sora, sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.services-item__heading::before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 22px;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
    border-radius: 99px;
}

.services-item__desc {
    margin-top: 18px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.72;
}

.services-item__link {
    display: flex;
    column-gap: 6px;
    margin-top: 24px;
    color: #34396a;
    font-family: Sora, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}

.services-item__link:hover {
    text-decoration: underline;
}

/* Column 2 */
.services__photo {
    position: relative;
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 440px;
    height: 650px;
    border-radius: 10px;
}

.services__photo::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 15px;
    display: inline-block;
    width: 93.2%;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.services__img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

/* Services Bottom */
.services__bottom {
    margin-top: -20px;
    display: flex;
    justify-content: center;
}

.services__btn {
    min-width: 214px;
}

/* ------------- Staff ------------- */
.staff {
    padding: 130px 0;
    background: #fffaf5;
}

.staff__desc,
.staff__heading {
    text-align: center;
}

.staff__desc {
    color: #5e6085;
    text-align: center;
    font-family: Sora, sans-serif;
    font-weight: 600;
    line-height: 1;
}

/* Staff body */
.staff__list {
    margin-top: 45px;
    display: flex;
    column-gap: 32px;
}

.staff__item {
    width: calc((100% - (32px * 3) / 4));
}

.staff__photo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 80.4%;
}

.staff__photo::after {
    content: "";
    position: absolute;
    display: block;
    width: 87.3%;
    height: 90%;
    border-radius: 129.5px;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.staff__photo--02::after {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.staff__photo--03::after {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.staff__photo--04::after {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff__img {
    position: relative;
    z-index: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 87.3%;
    height: 100%;
    border-radius: 129.5px;
    object-fit: cover;
}

.staff__item-desc {
    margin-top: 29px;
    color: #656689;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

.staff__name {
    margin-top: 14px;
    color: var(--primary-color-text);
    text-align: center;
    font-family: Sora, sans-serif;
    font-size: 2.2 rem;
    font-weight: 600;
    line-height: 1;
}

.staff__decor {
    position: absolute;
    width: 100%;
}

.staff__decor--top {
    top: 14px;
}

/* Staff bottom */
.staff__bottom {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

.staff__btn {
    min-width: 193px;
}

/* ------------- Pricing ------------- */
.pricing {
    padding: 86px 0;
    background: #fff6ed;
}

.pricing__top {
    position: relative;
}

.pricing__heading {
    text-align: center;
}

.pricing__desc {
    margin: 24px auto 0;
    max-width: 709px;
    text-align: center;
}

.pricing__switch {
    margin-top: 38px;
    display: flex;
    justify-content: center;
}

.pricing__switch-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 276px;
    height: 56px;
    border-radius: 31px;
    border: 1px solid #ff5b2e99;
}
.pricing__switch
    input[type="checkbox"]:checked
    + .pricing__switch-wrap::before {
    content: "";
    position: absolute;
    right: -1px;
    display: block;
    width: 131px;
    height: 56px;
    background: var(--button-color);
    border-radius: inherit;
}

.pricing__switch
    input[type="checkbox"]:checked
    ~ .pricing__switch-wrap
    .pricing__label:nth-of-type(2) {
    color: #fff;
}

.pricing__switch
    input[type="checkbox"]:not(:checked)
    + .pricing__switch-wrap::before {
    content: "";
    position: absolute;
    left: -1px;
    display: block;
    width: 145px;
    height: 56px;
    background: var(--button-color);
    border-radius: inherit;
}

.pricing__switch
    input[type="checkbox"]:not(:checked)
    ~ .pricing__switch-wrap
    .pricing__label:nth-of-type(1) {
    color: #fff;
}

.pricing__label {
    padding: 20px 40px;
    position: relative;
    z-index: 1;
    color: var(--button-color);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pricing__decor {
    position: absolute;
    top: 174px;
    right: 328px;
    z-index: 1;
}

/* Pricing Body */
.pricing__body {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    column-gap: 44px;
}

.pricing-item {
    width: 302px;
    border-radius: 20px;
    background: #fff;
}

.pricing-item__body {
    padding: 30px 28px 43px;
}

.pricing-item__name {
    color: var(--button-color);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 100% */
}

.pricing-item__desc {
    margin-top: 8px;
    color: #3f4065;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.pricing-item__price {
    margin-top: 24px;
    display: inline-block;
    color: var(--primary-color-text);
    font-family: Sora, sans-serif;
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 1.03;
}

.pricing-item__btn {
    display: block;
    margin-top: 22px;
    padding: 13px 12px;
}

.pricing-item__row {
    margin-top: 24px;
}

.pricing-item__row ~ .pricing-item__row {
    margin-top: 18px;
}

/* ------------- Feedback ------------- */
.feedback {
    padding-top: 130px;
    background: #fffaf5;
}

.feedback__inner {
    display: flex;
    align-items: center;
}

/* Feedback Avatar */
.feedback__btn-left {
    padding: 16px 14px;
    width: 54px;
    height: 54px;
    background: transparent;
}

/* Feedback List */
.feedback__list {
    display: flex;
    overflow: hidden;
}

.feedback__item {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.feedback__avt {
    margin-left: 44px;
}

.feedback__photo {
    position: relative;
    display: flex;
    align-items: flex-end;
    max-width: 274px;
    height: 100%;
}

.feedback__photo::before {
    content: "";
    position: absolute;
    display: inline-flex;
    width: 100%;
    height: 82%;
    border-radius: 137px;
    background: #ffda54;
}

.feedback__img {
    position: relative;
    z-index: 1;
    width: 100%;
    object-fit: cover;
    border-radius: 137px;
}

/* Feedback Reviews */
.feedback__reviews {
    margin-left: 115px;
}

.feedback__desc {
    margin-top: 24px;
    max-width: 553px;
    color: #000;
    font-size: 1.8rem;
    line-height: 1.56;
}

.feedback__name {
    display: inline-flex;
    align-items: center;
    column-gap: 8px;
    margin-top: 34px;
    color: #282828;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.feedback__name::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 2px;
    background: #000;
    border-radius: 99px;
}

.feedback__right {
    margin-left: 75px;
}

/* Feedback Dots */
.feedback__dots {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.feedback__dot {
    width: 8px;
    height: 8px;
    border: 1px solid var(--button-color);
    border-radius: 50%;
}

.feedback__dot:hover {
    background: var(--button-color);
    cursor: pointer;
}

.feedback__dot--active {
    width: 24px;
    height: 8px;
    border-radius: 4px;
    background: var(--button-color);
}

/* ------------- Blog ------------- */
.blog {
    padding-top: 130px;
    background: #fffaf5;
}

.blog__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading__desc {
    margin-right: 73px;
    width: 350px;
}

.blog__btn {
    margin-top: 24px;
    min-width: 182px;
}

/* Blog Body */
.blog__body {
    margin-top: 54px;
    display: flex;
    overflow: hidden;
}

.blog__list {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    column-gap: 48px;
    transform: translateX(-100%);
    transition: all ease 0.3s;
}

.blog__link {
    display: block;
}

.blog-item {
    width: calc((100% - 48px * 2) / 3);
}

.blog-item__photo {
    width: 100%;
    height: 362px;
    border-radius: 24px;
    background: #90ccff;
}

.blog-item__date {
    margin-left: 36px;
    padding-top: 24px;
    color: #fff;
    font-family: Sora, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.21;
}

.blog-item__img-base {
    margin: 26px 0 0 36px;
    max-width: 322px;
    height: 296px;
}

.blog-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-item__heading {
    margin-top: 28px;
    max-width: 338px;
    color: var(--primary-color-text);
    font-family: Sora, sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.54;
}

.blog-item__desc {
    margin-top: 16px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

/* ------------- Footer ------------- */
.footer {
    position: relative;
    padding-top: 131px;
    background: #fffaf5;
}

.footer::after {
    content: "";
    display: block;
    position: absolute;
    top: 131px;
    width: 42.7vw;
    height: 516px;
    background: #fff6ed;
}

.footer__inner {
    position: relative;
    z-index: 1;
}

.footer__content {
    display: flex;
    align-items: center;
}

/* Footer Form */
.form__email {
    position: relative;
}

.footer__form input {
    margin-top: 35px;
    padding-left: 22px;
    width: 268px;
    height: 46px;
    border: 1px solid rgba(255, 91, 46, 0.25);
    outline: none;
    border-radius: 99px;
    background: #fff;
}

.footer__form input,
.footer__form input::placeholder {
    color: #656689;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.17;
}

.footer__form input:invalid:not(:placeholder-shown) ~ .form__error {
    visibility: visible;
}

.form__submit {
    position: absolute;
    top: 35px;
    right: 0px;
    padding: 12px 12px;
    width: 45px;
    height: 46px;
    background: transparent;
}

.form__error {
    visibility: hidden;
    padding: 0 0 59px 22px;
    margin-top: 5px;
    color: #ff0000;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1;
}

.footer__heading {
    color: var(--primary-color-text);
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.11;
}

.footer__social {
    margin-top: 16px;
    display: flex;
    column-gap: 16px;
}

.footer__social-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    transition: background 0.3s ease;
}

.footer__social-wrap:hover {
    background: var(--primary-color-text);
}

.footer__social-wrap:hover .footer__social-icon {
    filter: brightness(0) saturate(100%) invert(94%) sepia(0%) saturate(7478%)
        hue-rotate(62deg) brightness(111%) contrast(100%);
}

/* footer info */
.footer__info {
    margin: 52px 0 52px 212px;
    display: flex;
    column-gap: 137px;
}

.footer__list {
    margin: 14px 0 58px;
}

.footer__column-contact {
    margin-top: 86px;
}

.footer__time,
.footer__contact,
.footer-item {
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2;
}

.footer-item:hover {
    text-decoration: underline;
}

.footer__contact {
    margin-top: 14px;
    max-width: 161px;
}

.footer__time {
    margin-top: 14px;
    max-width: 226px;
}

/* Footer Copyright */
.footer__copyright {
    padding-bottom: 48px;
    text-align: center;
    color: #656689;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.17;
}
